# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignore Terraform local files
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
# Don’t ignore lock file
!.terraform.lock.hcl

# Ignore IDE files
.idea/